Repository woowacourse-teams/2020-songpa-people, pull requests merged in 2020-07, with the labels that each got.

#36 [FEAT] Instagram Hashtag 검색 결과 크롤링
  hashtagmap-instagram-crawler/README.md
  hashtagmap-instagram-crawler/build.gradle
  hashtagmap-instagram-crawler/src/main/java/com/songpapeople/hashtagmap/crawler/Crawler.java
  hashtagmap-instagram-crawler/src/main/java/com/songpapeople/hashtagmap/crawler/InstaCrawlingResult.java
  hashtagmap-instagram-crawler/src/main/java/com/songpapeople/hashtagmap/crawler/InstagramCrawler.java
  hashtagmap-instagram-crawler/src/main/java/com/songpapeople/hashtagmap/crawler/JsonExplorer.java
  hashtagmap-instagram-crawler/src/main/java/com/songpapeople/hashtagmap/crawler/RegexPattern.java
  hashtagmap-instagram-crawler/src/main/java/com/songpapeople/hashtagmap/dto/CrawlingDto.java
  hashtagmap-instagram-crawler/src/main/java/com/songpapeople/hashtagmap/dto/PostDto.java
  hashtagmap-instagram-crawler/src/main/java/com/songpapeople/hashtagmap/dto/PostDtos.java
  hashtagmap-instagram-crawler/src/main/java/com/songpapeople/hashtagmap/empty.txt
  hashtagmap-instagram-crawler/src/main/java/com/songpapeople/hashtagmap/exception/CrawlingUrlException.java
  hashtagmap-instagram-crawler/src/main/java/com/songpapeople/hashtagmap/exception/NotFoundRegexException.java
  hashtagmap-instagram-crawler/src/main/java/com/songpapeople/hashtagmap/proxy/Proxies.java
  hashtagmap-instagram-crawler/src/main/java/com/songpapeople/hashtagmap/proxy/ProxiesFactory.java
  hashtagmap-instagram-crawler/src/main/java/com/songpapeople/hashtagmap/proxy/Proxy.java
  hashtagmap-instagram-crawler/src/test/java/com/songpapeople/hashtagmap/crawler/CrawlerTest.java
  hashtagmap-instagram-crawler/src/test/java/com/songpapeople/hashtagmap/crawler/InstaCrawlingResultTest.java
  hashtagmap-instagram-crawler/src/test/java/com/songpapeople/hashtagmap/crawler/InstagramCrawlerTest.java
  hashtagmap-instagram-crawler/src/test/java/com/songpapeople/hashtagmap/crawler/JsonExplorerTest.java
  hashtagmap-instagram-crawler/src/test/java/com/songpapeople/hashtagmap/crawler/RegexPatternTest.java
  hashtagmap-instagram-crawler/src/test/java/com/songpapeople/hashtagmap/dto/PostDtoTest.java
  hashtagmap-instagram-crawler/src/test/java/com/songpapeople/hashtagmap/dto/PostDtosTest.java
  hashtagmap-instagram-crawler/src/test/java/com/songpapeople/hashtagmap/proxy/ProxiesFactoryTest.java
  hashtagmap-instagram-crawler/src/test/java/com/songpapeople/hashtagmap/proxy/ProxiesTest.java
  hashtagmap-instagram-crawler/src/test/java/com/songpapeople/hashtagmap/proxy/ProxyTest.java
  hashtagmap-instagram-crawler/src/test/java/empty.txt
  hashtagmap-instagram-crawler/src/test/resources/crawling-mock-data.txt
  hashtagmap-instagram-crawler/src/test/resources/empty.txt
Labels: 🔍 Review Needed, 🙋‍♂️ Answer Needed

#37 [FEAT] Kakao API를 이용한 가게 데이터 수집
  .gitignore
  hashtagmap-kakao-api/.gitignore
  hashtagmap-kakao-api/README.md
  hashtagmap-kakao-api/build.gradle
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/empty.txt
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/config/KakaoConfiguration.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/caller/KakaoProperties.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/caller/KakaoRestTemplateApiCaller.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/caller/KakaoRestTemplateBuilder.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/caller/KakaoSecurityProperties.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/dto/Document.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/dto/KakaoPlaceDto.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/dto/Meta.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/dto/RegionInfo.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/exception/KakaoException.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/exception/KakaoExceptionHandler.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/exception/KakaoExceptionStatus.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/rect/Rect.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/rect/RectDivider.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/rect/location/Latitude.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/rect/location/Location.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/rect/location/Longitude.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/service/KakaoService.java
  hashtagmap-kakao-api/src/main/resources/application-kakao.properties
  hashtagmap-kakao-api/src/main/resources/application.properties
  hashtagmap-kakao-api/src/main/resources/empty.txt
  hashtagmap-kakao-api/src/test/java/com/songpapeople/hashtagmap/kakaoapi/KakaoAPITest.java
  hashtagmap-kakao-api/src/test/java/com/songpapeople/hashtagmap/kakaoapi/domain/KakaoPlaceDtoFixture.java
  hashtagmap-kakao-api/src/test/java/com/songpapeople/hashtagmap/kakaoapi/domain/caller/KakaoRestTemplateApiCallerTest.java
  hashtagmap-kakao-api/src/test/java/com/songpapeople/hashtagmap/kakaoapi/domain/exception/KakaoExceptionHandlerTest.java
  hashtagmap-kakao-api/src/test/java/com/songpapeople/hashtagmap/kakaoapi/domain/rect/RectDividerTest.java
  hashtagmap-kakao-api/src/test/java/com/songpapeople/hashtagmap/kakaoapi/domain/rect/location/LatitudeTest.java
  hashtagmap-kakao-api/src/test/java/com/songpapeople/hashtagmap/kakaoapi/domain/rect/location/LongitudeTest.java
  hashtagmap-kakao-api/src/test/java/com/songpapeople/hashtagmap/kakaoapi/service/KakaoServiceTest.java
  hashtagmap-kakao-api/src/test/java/empty.txt
  hashtagmap-kakao-api/src/test/resources/empty.txt
Labels: 🔍 Review Needed, 🙋‍♂️ Answer Needed

#49 [FEAT] 테스트 커버리지를 위한 Jacoco 설정
  build.gradle
  hashtagmap-admin/build.gradle
  hashtagmap-crawling-scheduler/build.gradle
  hashtagmap-instagram-crawler/build.gradle
  hashtagmap-instagram-scheduler/build.gradle
  hashtagmap-kakao-api/build.gradle
  hashtagmap-kakao-scheduler/build.gradle
  hashtagmap-web/build.gradle
  lombok.config
Labels: ⚙️ Infra, 💡 Feature, 🔍 Review Needed

#60 [FEAT] HashTagMapException 을 위한 Common module 생성
  hashtagmap-common/build.gradle
  hashtagmap-common/src/main/java/com/songpapeople/hashtagmap/exception/HashtagMapException.java
  settings.gradle
Labels: 💡 Feature, 🔍 Review Needed

#54 [FEAT] vuetify 적용
  hashtagmap-web/front/babel.config.js
  hashtagmap-web/front/package-lock.json
  hashtagmap-web/front/package.json
  hashtagmap-web/front/public/index.html
  hashtagmap-web/front/src/App.vue
  hashtagmap-web/front/src/main.js
  hashtagmap-web/front/src/plugins/vuetify.js
  hashtagmap-web/front/vue.config.js
Labels: 🔍 Review Needed

#58 [FEAT] 사용자 위치 기능 구현
  hashtagmap-web/front/src/assets/current-location-button.png
  hashtagmap-web/front/src/views/KakaoMap.vue
Labels: 🏞 View, 🔍 Review Needed

#65 [FEAT] Kakao API를 활용한 가게 데이터 수집 스케줄링
  build.gradle
  hashtagmap-core/build.gradle
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/config/JpaConfiguration.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/config/QueryDslConfiguration.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/config/entity/BaseEntity.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/empty.txt
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/place/domain/model/Category.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/place/domain/model/District.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/place/domain/model/Location.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/place/domain/model/Place.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/place/domain/model/Point.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/place/domain/model/Zone.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/place/domain/repository/DistrictRepository.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/place/domain/repository/PlaceRepository.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/place/domain/repository/ZoneRepository.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/place/domain/repository/ZoneRepositoryCustom.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/place/domain/repository/ZoneRepositoryCustomImpl.java
  hashtagmap-core/src/test/java/com/songpapeople/hashtagmap/HashtagmapCoreTestApplication.java
  hashtagmap-core/src/test/java/com/songpapeople/hashtagmap/place/domain/repository/ZoneRepositoryCustomImplTest.java
  hashtagmap-core/src/test/java/empty.txt
  hashtagmap-kakao-api/build.gradle
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/dto/Document.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/rect/Rect.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/rect/RectDivider.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/rect/location/Coordinate.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/rect/location/Latitude.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/domain/rect/location/Longitude.java
  hashtagmap-kakao-api/src/main/java/com/songpapeople/hashtagmap/kakaoapi/service/KakaoApiService.java
  hashtagmap-kakao-api/src/test/java/com/songpapeople/hashtagmap/kakaoapi/domain/rect/location/LatitudeTest.java
  hashtagmap-kakao-api/src/test/java/com/songpapeople/hashtagmap/kakaoapi/domain/rect/location/LongitudeTest.java
  hashtagmap-kakao-api/src/test/java/com/songpapeople/hashtagmap/kakaoapi/service/KakaoApiServiceTest.java
  hashtagmap-kakao-scheduler/README.md
  hashtagmap-kakao-scheduler/build.gradle
  hashtagmap-kakao-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/config/KakaoSchedulerConfig.java
  hashtagmap-kakao-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/domain/KakaoScheduler.java
  hashtagmap-kakao-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/domain/KakaoSchedulerTask.java
  hashtagmap-kakao-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/domain/factory/PlaceFactory.java
  hashtagmap-kakao-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/domain/factory/RectFactory.java
  hashtagmap-kakao-scheduler/src/main/java/empty.txt
  hashtagmap-kakao-scheduler/src/test/java/com/songpapeople/hashtagmap/KakaoSchedulerTestApplication.java
  hashtagmap-kakao-scheduler/src/test/java/com/songpapeople/hashtagmap/scheduler/domain/KakaoSchedulerTaskTest.java
  hashtagmap-kakao-scheduler/src/test/java/com/songpapeople/hashtagmap/scheduler/domain/KakaoSchedulerTest.java
  hashtagmap-kakao-scheduler/src/test/java/com/songpapeople/hashtagmap/scheduler/domain/factory/PlaceFactoryTest.java
  hashtagmap-kakao-scheduler/src/test/java/com/songpapeople/hashtagmap/scheduler/domain/factory/RectFactoryTest.java
  hashtagmap-kakao-scheduler/src/test/java/empty.txt
Labels: 👩‍👩‍👧‍👦 Service, 🔍 Review Needed

#71 [FEAT] 핀(마커) 클릭시 말풍선 노출 기능 구현 / web모듈 빌드시 vue 빌드 기능 추가
  .gitignore
  hashtagmap-web/.gitignore
  hashtagmap-web/build.gradle
  hashtagmap-web/front/public/index.html
  hashtagmap-web/front/src/App.vue
  hashtagmap-web/front/src/components/CurrentLocationButton.vue
  hashtagmap-web/front/src/plugins/KakaoMap.js
  hashtagmap-web/front/src/utils/constants.js
  hashtagmap-web/front/src/utils/templates.js
  hashtagmap-web/front/src/views/KakaoMap.vue
Labels: 🏞 View, 💡 Feature

#69 Jenkinsfile 및 배포용 sh 스크립트 작성
  Jenkinsfile
  script/README.md
  script/admin/admin-bind.sh
  script/admin/publish-over-ssh.sh
  script/deploy.sh
  script/web/publish-over-ssh.sh
  script/web/web-bind.sh
Labels: ⚙️ Infra, 🔍 Review Needed

#78 [REFACTOR] 사용자 위치 버튼 이미지 변경
  hashtagmap-web/front/package-lock.json
  hashtagmap-web/front/package.json
  hashtagmap-web/front/src/App.vue
  hashtagmap-web/front/src/assets/current-location-button.png
  hashtagmap-web/front/src/components/CurrentLocationButton.vue
  hashtagmap-web/front/src/components/empty.txt
Labels: 🏞 View, 🔍 Review Needed, 🛠 Refactoring

#79 [FEAT] Jua 글씨체 적용
  hashtagmap-web/front/package-lock.json
  hashtagmap-web/front/public/index.html
  hashtagmap-web/front/src/App.vue
  hashtagmap-web/front/src/utils/templates.js
  hashtagmap-web/front/src/views/KakaoMap.vue
Labels: 🏞 View, 🔍 Review Needed

#80 [REFACTOR] 프론트 리펙토링
  hashtagmap-web/.gitignore
  hashtagmap-web/build.gradle
  hashtagmap-web/front/package-lock.json
  hashtagmap-web/front/public/index.html
  hashtagmap-web/front/src/App.vue
  hashtagmap-web/front/src/components/CurrentLocationButton.vue
  hashtagmap-web/front/src/plugins/KakaoMap.js
  hashtagmap-web/front/src/store/index.js
  hashtagmap-web/front/src/utils/constants.js
  hashtagmap-web/front/src/utils/templates.js
  hashtagmap-web/front/src/views/KakaoMap.vue
Labels: 🏞 View, 🛠 Refactoring

#87 [FEAT] css 적용 위치 찾아보기
  hashtagmap-web/front/package-lock.json
  hashtagmap-web/front/public/index.html
  hashtagmap-web/front/src/App.vue
  hashtagmap-web/front/src/assets/css/app.css
  hashtagmap-web/front/src/assets/css/textBalloon.css
  hashtagmap-web/front/src/store/index.js
  hashtagmap-web/front/src/utils/templates.js
  hashtagmap-web/front/src/views/KakaoMap.vue
Labels: 🏞 View, 🔍 Review Needed

#88 [FEAT] 어드민 페이지 베이스 구축
  hashtagmap-admin/build.gradle
  hashtagmap-admin/front/.gitignore
  hashtagmap-admin/front/README.md
  hashtagmap-admin/front/babel.config.js
  hashtagmap-admin/front/package-lock.json
  hashtagmap-admin/front/package.json
  hashtagmap-admin/front/public/favicon.ico
  hashtagmap-admin/front/public/index.html
  hashtagmap-admin/front/src/App.vue
  hashtagmap-admin/front/src/assets/bright-cow-image.png
  hashtagmap-admin/front/src/assets/chat.png
  hashtagmap-admin/front/src/assets/logo.png
  hashtagmap-admin/front/src/assets/logo.svg
  hashtagmap-admin/front/src/main.js
  hashtagmap-admin/front/src/plugins/vuetify.js
  hashtagmap-admin/front/src/router/index.js
  hashtagmap-admin/front/src/store/index.js
  hashtagmap-admin/front/src/views/Home.vue
  hashtagmap-admin/front/src/views/InstagramScheduler.vue
  hashtagmap-admin/front/src/views/KakaoScheduler.vue
  hashtagmap-admin/front/vue.config.js
Labels: 🏞 View, 👷‍♂️ Admin, 💡 Feature

#90 [REFACTOR] 카카오 스케쥴링 작업 작동방식 변경
  hashtagmap-admin/build.gradle
  hashtagmap-kakao-scheduler/build.gradle
  hashtagmap-kakao-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/config/KakaoSchedulerConfig.java
  hashtagmap-kakao-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/domain/CronPeriod.java
  hashtagmap-kakao-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/domain/KakaoScheduler.java
  hashtagmap-kakao-scheduler/src/test/java/com/songpapeople/hashtagmap/scheduler/domain/KakaoSchedulerTest.java
  hashtagmap-web/build.gradle
Labels: 👷‍♂️ Admin, 💡 Feature, 🛠 Refactoring
