Repository woowacourse-teams/2020-songpa-people, pull requests merged in 2020-08, with the labels that each got.

#92 [Refactor] 알람창 디자인 수정
  hashtagmap-web/front/package-lock.json
  hashtagmap-web/front/package.json
  hashtagmap-web/front/public/index.html
  hashtagmap-web/front/src/assets/Jua.ttf
  hashtagmap-web/front/src/assets/css/app.css
  hashtagmap-web/front/src/plugins/KakaoMap.js
Labels: 🏞 View, 🔍 Review Needed

#102 [FEAT] 상세 모달 구현
  hashtagmap-web/front/src/components/DetailModal.vue
  hashtagmap-web/front/src/store/index.js
  hashtagmap-web/front/src/utils/constants.js
  hashtagmap-web/front/src/utils/templates.js
  hashtagmap-web/front/src/views/KakaoMap.vue
Labels: 🔍 Review Needed

#107 [FEAT] 어드민에서 인스타그램 스케줄러 Update 실행하는 버튼 추가
  hashtagmap-admin/.gitignore
  hashtagmap-admin/build.gradle
  hashtagmap-admin/front/package-lock.json
  hashtagmap-admin/front/package.json
  hashtagmap-admin/front/public/index.html
  hashtagmap-admin/front/src/main.js
  hashtagmap-admin/front/src/utils/constants.js
  hashtagmap-admin/front/src/views/InstagramScheduler.vue
  hashtagmap-admin/front/src/views/KakaoScheduler.vue
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/api/InstagramSchedulerApiController.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/controller/RouterController.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/controller/exceptionhandler/ExceptionController.java
  hashtagmap-admin/src/main/resources/static/css/app.ce98fd8d.css
  hashtagmap-admin/src/main/resources/static/css/chunk-vendors.721a0b2d.css
  hashtagmap-admin/src/main/resources/static/favicon.ico
  hashtagmap-admin/src/main/resources/static/img/bright-cow-image.0ab523bf.png
  hashtagmap-admin/src/main/resources/static/index.html
  hashtagmap-admin/src/main/resources/static/js/app.06bab002.js
  hashtagmap-admin/src/main/resources/static/js/app.06bab002.js.map
  hashtagmap-admin/src/main/resources/static/js/chunk-vendors.31122299.js
  hashtagmap-admin/src/main/resources/static/js/chunk-vendors.31122299.js.map
  hashtagmap-core/build.gradle
  hashtagmap-instagram-crawler/build.gradle
  hashtagmap-instagram-scheduler/build.gradle
  hashtagmap-kakao-api/build.gradle
  hashtagmap-kakao-scheduler/build.gradle
  hashtagmap-web/build.gradle
Labels: 🏞 View, 👷‍♂️ Admin, 💡 Feature, 🔍 Review Needed

#111 [FEAT] root build.gradle에 web, admin 모듈 Restdocs 의존성 추가
  build.gradle
Labels: 🔍 Review Needed

#113 [FEAT] textBalloon에서 장소 이름외의 영역 클릭시 textBalloon 꺼지는 기능 추가
  hashtagmap-web/front/src/views/KakaoMap.vue
Labels: 🏞 View, 💡 Feature

#120 [FEAT] Admin에서 Kakao Scheduler 시작/종료 관리
  .gitignore
  hashtagmap-admin/.gitignore
  hashtagmap-admin/build.gradle
  hashtagmap-admin/front/package-lock.json
  hashtagmap-admin/front/public/favicon.ico
  hashtagmap-admin/front/src/components/CustomSnackBar.vue
  hashtagmap-admin/front/src/request/index.js
  hashtagmap-admin/front/src/store/index.js
  hashtagmap-admin/front/src/store/modules/kakao.js
  hashtagmap-admin/front/src/store/modules/snackbar.js
  hashtagmap-admin/front/src/utils/constants.js
  hashtagmap-admin/front/src/views/KakaoScheduler.vue
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/config/schedule/KakaoScheduleAutoConfiguration.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/config/schedule/ScheduleDataConfiguration.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/controller/KakaoScheduleController.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/controller/RouterController.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/controller/exceptionhandler/AdminExceptionControllerAdvice.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/controller/exceptionhandler/ExceptionController.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/exception/AdminException.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/exception/AdminExceptionStatus.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/instagram/api/InstagramSchedulerApiController.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/kakao/api/KakaoSchedulerController.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/kakao/service/KakaoScheduleCommandService.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/kakao/service/KakaoScheduleQueryService.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/kakao/service/dto/KakaoScheduleToggleDto.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/service/KakaoService.java
  hashtagmap-admin/src/main/resources/application.yml
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/HashTagMapAdminApplicationTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/config/schedule/KakaoScheduleAutoConfigurationTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/config/schedule/ScheduleDataConfigurationTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/controller/RouterControllerJavaTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/controller/RouterControllerTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/docs/ApiDocumentUtils.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/integration/KakaoScheduleIntegrationTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/kakao/api/KakaoSchedulerControllerExceptionTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/kakao/service/KakaoScheduleCommandServiceTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/kakao/service/KakaoScheduleQueryServiceTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/service/KakaoServiceTest.java
  hashtagmap-common/src/main/java/com/songpapeople/hashtagmap/exception/CommonExceptionStatus.java
  hashtagmap-common/src/main/java/com/songpapeople/hashtagmap/exception/HashtagMapException.java
  hashtagmap-common/src/main/java/com/songpapeople/hashtagmap/response/CustomResponse.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/config/vo/Flag.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/kakao/schedule/model/Schedule.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/kakao/schedule/repository/ScheduleRepository.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/place/domain/repository/PlaceRepository.java
  hashtagmap-core/src/test/java/com/songpapeople/hashtagmap/instagram/domain/repository/InstagramRepositoryCustomImplTest.java
  hashtagmap-core/src/test/java/com/songpapeople/hashtagmap/place/domain/repository/PlaceRepositoryTest.java
  hashtagmap-core/src/test/java/com/songpapeople/hashtagmap/place/domain/repository/ZoneRepositoryCustomImplTest.java
  hashtagmap-kakao-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/domain/KakaoScheduler.java
  hashtagmap-kakao-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/exception/KakaoSchedulerException.java
  hashtagmap-kakao-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/exception/KakaoSchedulerExceptionStatus.java
  hashtagmap-kakao-scheduler/src/main/resources/application.yml
  hashtagmap-kakao-scheduler/src/test/java/com/songpapeople/hashtagmap/scheduler/domain/CronPeriodTest.java
  hashtagmap-kakao-scheduler/src/test/java/com/songpapeople/hashtagmap/scheduler/domain/KakaoSchedulerTaskTest.java
  hashtagmap-kakao-scheduler/src/test/java/com/songpapeople/hashtagmap/scheduler/domain/KakaoSchedulerTest.java
  hashtagmap-web/front/package-lock.json
Labels: 🏞 View, 👷‍♂️ Admin, 💡 Feature, 🔍 Review Needed, 🛠 Refactoring

#126 [FEAT] 지도 출력 시 태그레벨에 따라 다른 색의 핀 출력
  hashtagmap-web/front/src/assets/markers/mapMarker1.png
  hashtagmap-web/front/src/assets/markers/mapMarker2.png
  hashtagmap-web/front/src/assets/markers/mapMarker3.png
  hashtagmap-web/front/src/assets/markers/mapMarker4.png
  hashtagmap-web/front/src/assets/markers/mapMarker5.png
  hashtagmap-web/front/src/store/index.js
  hashtagmap-web/front/src/utils/constants.js
  hashtagmap-web/front/src/utils/markerImages.js
  hashtagmap-web/front/src/views/KakaoMap.vue
Labels: 🏞 View, 💡 Feature, 🔍 Review Needed

#128 [FEAT] 모달에서 사용하는 데이터를 요청하여 받아오는 기능 추가
  hashtagmap-admin/build.gradle
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/instagram/domain/model/InstagramPost.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/instagram/domain/repository/instagramPost/InstagramPostRepository.java
  hashtagmap-core/src/test/java/com/songpapeople/hashtagmap/instagram/domain/repository/InstagramPostRepositoryTest.java
  hashtagmap-core/src/test/java/com/songpapeople/hashtagmap/instagram/domain/repository/InstagramRepositoryCustomImplTest.java
  hashtagmap-instagram-crawler/build.gradle
  hashtagmap-instagram-scheduler/build.gradle
  hashtagmap-instagram-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/CrawlingResult.java
  hashtagmap-instagram-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/InstagramScheduleService.java
  hashtagmap-instagram-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/InstagramScheduler.java
  hashtagmap-instagram-scheduler/src/test/java/com/songpapeople/hashtagmap/scheduler/InstagramSchedulerTest.java
  hashtagmap-kakao-api/build.gradle
  hashtagmap-kakao-scheduler/build.gradle
  hashtagmap-web/build.gradle
  hashtagmap-web/front/src/components/DetailModal.vue
  hashtagmap-web/front/src/components/tag-level/TagLevelSelector.vue
  hashtagmap-web/front/src/store/index.js
  hashtagmap-web/front/src/utils/templates.js
  hashtagmap-web/front/src/views/KakaoMap.vue
  hashtagmap-web/src/docs/asciidoc/api-guide.adoc
  hashtagmap-web/src/main/java/com/songpapeople/hashtagmap/api/InstagramApiController.java
  hashtagmap-web/src/main/java/com/songpapeople/hashtagmap/dto/InstagramPostResponse.java
  hashtagmap-web/src/main/java/com/songpapeople/hashtagmap/service/InstagramPostQueryService.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/HashTagMapWebApplicationTest.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/api/InstagramApiControllerTest.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/api/MapApiControllerTest.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/api/acceptance/InstagramApiAcceptanceTest.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/doc/ApiDocument.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/doc/InstagramApiDocumentation.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/doc/MapApiDocumentation.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/service/InstagramPostQueryServiceTest.java
Labels: 👩‍👩‍👧‍👦 Service, 💡 Feature, 🔍 Review Needed

#141 [FEAT] 태그레벨 필터링
  build.gradle
  hashtagmap-web/build.gradle
  hashtagmap-web/front/package.json
  hashtagmap-web/front/public/index.html
  hashtagmap-web/front/src/components/tag-level/TagLevelFilter.vue
  hashtagmap-web/front/src/components/tag-level/TagLevelSelector.vue
  hashtagmap-web/front/src/store/index.js
  hashtagmap-web/front/src/utils/constants.js
  hashtagmap-web/front/src/views/KakaoMap.vue
Labels: 🏞 View, 🔍 Review Needed

#154 [FEAT] 모달에서 Kakao URL, Instagram URL 받아오기
  hashtagmap-web/front/package-lock.json
  hashtagmap-web/front/src/components/detail-modal/DetailModal.vue
  hashtagmap-web/front/src/components/detail-modal/InstagramPost.vue
  hashtagmap-web/front/src/store/index.js
  hashtagmap-web/front/src/views/KakaoMap.vue
  hashtagmap-web/src/main/java/com/songpapeople/hashtagmap/dto/MarkerResponse.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/api/MapApiControllerTest.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/doc/MapApiDocumentation.java
Labels: 🏞 View, 🔍 Review Needed

#153 [FEAT] 카테고리에 해당하는 마커만 지도에 출력하기
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/place/domain/model/Category.java
  hashtagmap-web/front/src/components/detail-modal/DetailModal.vue
  hashtagmap-web/front/src/components/tag-level/PlaceCategories.vue
  hashtagmap-web/front/src/components/tag-level/PlaceCategoryFilter.vue
  hashtagmap-web/front/src/components/tag-level/TagLevelFilter.vue
  hashtagmap-web/front/src/components/tag-level/TagLevelSelector.vue
  hashtagmap-web/front/src/store/index.js
  hashtagmap-web/front/src/utils/constants.js
  hashtagmap-web/front/src/views/KakaoMap.vue
  hashtagmap-web/src/main/java/com/songpapeople/hashtagmap/api/InstagramApiController.java
  hashtagmap-web/src/main/java/com/songpapeople/hashtagmap/config/WebDataConfiguration.java
  hashtagmap-web/src/main/java/com/songpapeople/hashtagmap/dto/MarkerResponse.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/api/MapApiControllerTest.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/doc/MapApiDocumentation.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/service/InstagramQueryServiceTest.java
Labels: 🏞 View, 🔍 Review Needed

#151 [FEAT] PWA / 설치 기능 추가
  hashtagmap-web/front/public/favicon.ico
  hashtagmap-web/front/public/img/icons/themiso-icon-192x192.png
  hashtagmap-web/front/public/img/icons/themiso-icon-256x256.png
  hashtagmap-web/front/public/img/icons/themiso-icon-512x512.png
  hashtagmap-web/front/public/index.html
  hashtagmap-web/front/public/themiso-manifest.json
Labels: ⚙️ Infra, 💡 Feature

#150 [FEAT] Admin 문서화
  hashtagmap-admin/src/docs/asciidoc/api-guide.adoc
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/kakao/api/KakaoSchedulerApiController.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/docs/instagram/InstagramApiDocumentation.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/docs/kakao/KakaoApiDocumentation.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/instagram/api/InstagramApiControllerTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/kakao/api/KakaoApiControllerTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/kakao/api/KakaoSchedulerApiControllerExceptionTest.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/kakao/schedule/model/PeriodHistory.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/api/MapApiControllerTest.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/doc/InstagramApiDocumentation.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/docs/ApiDocument.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/docs/ApiDocumentUtils.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/docs/MapApiDocumentation.java
Labels: 👷‍♂️ Admin, 💡 Feature, 🔍 Review Needed

#165 [FEAT] 구글 애널리틱스 추적 코드 등록
  hashtagmap-web/front/public/index.html
Labels: ⚙️ Infra

#155 [FEAT] 말풍선 다 띄우기 & 말풍선 인식 범위 줄이기 & 태그레벨 필터링 버그 수정
  hashtagmap-web/front/src/assets/css/textBalloon.css
  hashtagmap-web/front/src/store/index.js
  hashtagmap-web/front/src/utils/templates.js
  hashtagmap-web/front/src/views/KakaoMap.vue
Labels: 🏞 View, 🔍 Review Needed

#170 [BUG] 모달의 상세 정보 기능 오작동
  hashtagmap-web/front/src/components/detail-modal/DetailModal.vue
Labels: 🏞 View, 🧨 Bug

#159 [FEAT] 어드민 로그인 로그아웃 기능 구현
  hashtagmap-admin/front/src/App.vue
  hashtagmap-admin/front/src/components/Login.vue
  hashtagmap-admin/front/src/request/api/district.js
  hashtagmap-admin/front/src/request/api/member.js
  hashtagmap-admin/front/src/store/index.js
  hashtagmap-admin/front/src/store/modules/district.js
  hashtagmap-admin/front/src/store/modules/kakao.js
  hashtagmap-admin/front/src/store/modules/member.js
  hashtagmap-admin/front/src/store/modules/modal.js
  hashtagmap-admin/front/src/store/modules/snackbar.js
  hashtagmap-admin/front/src/store/modules/zone.js
  hashtagmap-admin/front/src/utils/constants.js
  hashtagmap-admin/front/vue.config.js
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/exception/AdminExceptionStatus.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/member/api/MemberApiController.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/member/service/AdminMemberService.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/member/service/dto/LoginRequest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/district/api/DistrictCommandControllerTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/district/api/DistrictQueryControllerTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/docs/ApiDocument.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/docs/district/DistrictCommandDocument.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/docs/district/DistrictQueryDocument.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/docs/instagram/InstagramApiDocumentation.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/docs/kakao/KakaoApiDocumentation.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/docs/member/MemberApiDocumentation.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/instagram/api/InstagramApiControllerTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/kakao/api/KakaoApiControllerTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/member/api/MemberApiControllerTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/member/service/AdminMemberServiceTest.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/member/model/AdminMember.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/member/repository/AdminMemberRepository.java
  hashtagmap-instagram-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/CrawlingResult.java
  hashtagmap-instagram-scheduler/src/test/java/com/songpapeople/hashtagmap/scheduler/CrawlingResultTest.java
  hashtagmap-instagram-scheduler/src/test/java/com/songpapeople/hashtagmap/scheduler/InstagramSchedulerTest.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/api/InstagramApiControllerTest.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/api/MapApiControllerTest.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/docs/ApiDocument.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/docs/InstagramApiDocumentation.java
Labels: 🏞 View, 👷‍♂️ Admin, 💡 Feature, 🔍 Review Needed

#182 [FEAT] 말풍선 닫기 버튼 추가
  hashtagmap-web/front/src/assets/close.png
  hashtagmap-web/front/src/assets/css/textBalloon.css
  hashtagmap-web/front/src/store/index.js
  hashtagmap-web/front/src/store/modules/category.js
  hashtagmap-web/front/src/store/modules/detailModal.js
  hashtagmap-web/front/src/store/modules/kakaoMap.js
  hashtagmap-web/front/src/store/modules/mapOverlay.js
  hashtagmap-web/front/src/store/modules/place.js
  hashtagmap-web/front/src/store/modules/tagLevel.js
  hashtagmap-web/front/src/utils/templates.js
  hashtagmap-web/front/src/views/KakaoMap.vue
Labels: 🏞 View, 🔍 Review Needed

#184 [REFACTOR] 처음 로딩 시 내 위치로 가는 기능 제거
  hashtagmap-web/front/src/views/KakaoMap.vue
Labels: 🏞 View, 👩‍👩‍👧‍👦 Service, 🛠 Refactoring

#183 [FEAT] Index Page 구현
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/member/service/AdminMemberService.java
  hashtagmap-web/front/package-lock.json
  hashtagmap-web/front/package.json
  hashtagmap-web/front/public/index.html
  hashtagmap-web/front/src/App.vue
  hashtagmap-web/front/src/assets/css/instagram.css
  hashtagmap-web/front/src/assets/css/textBalloon.css
  hashtagmap-web/front/src/assets/mainpage/content1.png
  hashtagmap-web/front/src/assets/mainpage/content2.png
  hashtagmap-web/front/src/assets/mainpage/content3.png
  hashtagmap-web/front/src/assets/mainpage/content4.png
  hashtagmap-web/front/src/assets/mainpage/content5.png
  hashtagmap-web/front/src/assets/mainpage/hot_place_ex1.jpg
  hashtagmap-web/front/src/assets/mainpage/hot_place_ex2.png
  hashtagmap-web/front/src/assets/mainpage/hot_place_ex3.png
  hashtagmap-web/front/src/assets/mainpage/miso_circle.png
  hashtagmap-web/front/src/components/main-page/Slider.vue
  hashtagmap-web/front/src/components/main-page/Story.vue
  hashtagmap-web/front/src/router/index.js
  hashtagmap-web/front/src/utils/templates.js
  hashtagmap-web/front/src/views/KakaoMap.vue
  hashtagmap-web/front/src/views/MainPage.vue
Labels: 🏞 View, 🔍 Review Needed, 🙋‍♂️ Answer Needed

#191 [FEAT] 태그레벨 데이터 뷰에서 DB 데이터로 보여주기
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/taglevel/model/TagLevel.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/taglevel/model/TagLevels.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/taglevel/repository/TagLevelRepository.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/taglevel/repository/TagLevelRepositoryCustom.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/taglevel/repository/TagLevelRepositoryCustomImpl.java
  hashtagmap-core/src/test/java/com/songpapeople/hashtagmap/taglevel/model/TagLevelTest.java
  hashtagmap-core/src/test/java/com/songpapeople/hashtagmap/taglevel/repository/TagLevelRepositoryTest.java
  hashtagmap-web/front/public/index.html
  hashtagmap-web/front/src/components/detail-modal/DetailModal.vue
  hashtagmap-web/front/src/components/main-page/Slider.vue
  hashtagmap-web/front/src/components/tag-level/TagLevelDetail.vue
  hashtagmap-web/front/src/store/modules/tagLevel.js
  hashtagmap-web/front/src/utils/hashtagCountConverter.js
  hashtagmap-web/front/src/views/MainPage.vue
  hashtagmap-web/front/vue.config.js
  hashtagmap-web/src/docs/asciidoc/api-guide.adoc
  hashtagmap-web/src/main/java/com/songpapeople/hashtagmap/api/TagLevelApiController.java
  hashtagmap-web/src/main/java/com/songpapeople/hashtagmap/dto/TagLevelResponse.java
  hashtagmap-web/src/main/java/com/songpapeople/hashtagmap/service/TagLevelQueryService.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/api/TagLevelApiControllerTest.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/docs/TagLevelApiDocumentation.java
  hashtagmap-web/src/test/java/com/songpapeople/hashtagmap/service/TagLevelQueryServiceTest.java
Labels: 🏞 View, 💡 Feature, 🔍 Review Needed

#192 [FEAT] 에러로그 슬랙으로 관제할 수 있도록 구축
  .gitignore
  build.gradle
  hashtagmap-admin/build.gradle
  hashtagmap-admin/src/main/resources/logback-spring.xml
  hashtagmap-web/build.gradle
  hashtagmap-web/src/main/resources/logback-spring.xml
Labels: 🔍 Review Needed

#193 [FEAT] admin에 blackList관리 기능 추가
  hashtagmap-admin/build.gradle
  hashtagmap-admin/front/src/App.vue
  hashtagmap-admin/front/src/components/blacklist/DeleteInstagramAfterAddBlackListForm.vue
  hashtagmap-admin/front/src/components/blacklist/UpdateInstagramAfterAddBlackListForm.vue
  hashtagmap-admin/front/src/request/api/blackList.js
  hashtagmap-admin/front/src/request/index.js
  hashtagmap-admin/front/src/router/index.js
  hashtagmap-admin/front/src/store/index.js
  hashtagmap-admin/front/src/store/modules/blackList.js
  hashtagmap-admin/front/src/utils/constants.js
  hashtagmap-admin/front/src/views/BlackListManager.vue
  hashtagmap-admin/src/docs/asciidoc/api-guide.adoc
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/blacklist/api/BlackListApiController.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/blacklist/service/BlackListCommandService.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/blacklist/service/dto/AbnormalInstagramDto.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/blacklist/service/dto/BlackListRequest.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/blacklist/service/dto/BlackListResponse.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/controller/RouterController.java
  hashtagmap-admin/src/main/java/com/songpapeople/hashtagmap/instagram/service/InstagramQueryService.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/blacklist/acceptance/BlackListAcceptanceTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/blacklist/api/BlackListApiControllerTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/blacklist/service/BlackListCommandServiceTest.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/docs/blacklist/BlackListApiDocumentation.java
  hashtagmap-admin/src/test/java/com/songpapeople/hashtagmap/instagram/service/InstagramQueryServiceTest.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/blacklist/domain/model/BlackList.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/blacklist/domain/repsitory/BlackListRepository.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/instagram/domain/model/Instagram.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/instagram/domain/repository/InstagramRepository.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/instagram/domain/repository/InstagramRepositoryCustom.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/instagram/domain/repository/InstagramRepositoryCustomImpl.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/instagram/domain/repository/instagramPost/InstagramPostRepository.java
  hashtagmap-core/src/main/java/com/songpapeople/hashtagmap/place/domain/model/Place.java
  hashtagmap-core/src/test/java/com/songpapeople/hashtagmap/instagram/domain/repository/InstagramRepositoryCustomImplTest.java
  hashtagmap-instagram-crawler/src/main/java/com/songpapeople/hashtagmap/crawler/InstagramCrawler.java
  hashtagmap-instagram-crawler/src/main/java/com/songpapeople/hashtagmap/dto/CrawlingDto.java
  hashtagmap-instagram-crawler/src/test/java/com/songpapeople/hashtagmap/crawler/InstagramCrawlerTest.java
  hashtagmap-instagram-scheduler/src/main/java/com/songpapeople/hashtagmap/config/InstagramSchedulerConfiguration.java
  hashtagmap-instagram-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/CrawlerWithProxy.java
  hashtagmap-instagram-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/CrawlingResult.java
  hashtagmap-instagram-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/InstagramScheduleService.java
  hashtagmap-instagram-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/InstagramScheduler.java
  hashtagmap-instagram-scheduler/src/main/java/com/songpapeople/hashtagmap/scheduler/SingleCrawlResult.java
  hashtagmap-instagram-scheduler/src/test/java/com/songpapeople/hashtagmap/scheduler/CrawlerWithProxyTest.java
  hashtagmap-instagram-scheduler/src/test/java/com/songpapeople/hashtagmap/scheduler/InstagramScheduleServiceTest.java
  hashtagmap-instagram-scheduler/src/test/java/com/songpapeople/hashtagmap/scheduler/InstagramSchedulerTest.java
Labels: 🏞 View, 👷‍♂️ Admin, 💡 Feature, 🔍 Review Needed

#194 [REFACTOR] 모달 상세 페이지 디자인 수정
  hashtagmap-web/front/src/components/detail-modal/DetailModal.vue
  hashtagmap-web/front/src/components/detail-modal/InstagramPost.vue
  hashtagmap-web/front/src/components/detail-modal/PostImage.vue
  hashtagmap-web/front/src/components/detail-modal/Posts.vue
  hashtagmap-web/front/src/components/main-page/Slider.vue
  hashtagmap-web/front/src/components/main-page/Story.vue
Labels: 🏞 View, 🛠 Refactoring

#202 [FEAT] 핀 이미지 클러스터링
  hashtagmap-web/front/src/plugins/KakaoMap.js
  hashtagmap-web/front/src/store/modules/kakaoMap.js
  hashtagmap-web/front/src/store/modules/mapOverlay.js
  hashtagmap-web/front/src/utils/constants.js
  hashtagmap-web/front/src/views/KakaoMap.vue
  hashtagmap-web/front/vue.config.js
Labels: 🏞 View, 👩‍👩‍👧‍👦 Service, 💡 Feature, 🔍 Review Needed, 🛠 Refactoring

#205 [FEAT] 태그레벨컨테이너 반응형으로 만들기
  hashtagmap-web/front/public/img/icons/menu-bar-icon.png
  hashtagmap-web/front/src/assets/css/instagram.css
  hashtagmap-web/front/src/components/AppBar.vue
  hashtagmap-web/front/src/components/tag-level/TagLevelContainer.vue
  hashtagmap-web/front/src/components/tag-level/TagLevelDetail.vue
  hashtagmap-web/front/src/views/KakaoMap.vue
Labels: 🏞 View, 💡 Feature

#212 [BUG] Safari 에서 모바일 메뉴 깨지는 부분
  hashtagmap-web/front/src/components/AppBar.vue
Labels: 🏞 View, 👩‍👩‍👧‍👦 Service, 🧨 Bug

#206 [FEAT] 서비스를 모바일에서 실행시켰을 때 index 페이지의 스토리, 팔로우 컴포넌트 제거하기
  hashtagmap-web/front/src/assets/css/instagram.css
  hashtagmap-web/front/src/components/main-page/Slider.vue
Labels: 🏞 View, 🔍 Review Needed

#211 [REFACTOR] 상세 모달 드래그 시 인스타 페이지 열리지 않도록 수정(vuetify로 수정)
  build.gradle
  hashtagmap-admin/build.gradle
  hashtagmap-web/build.gradle
  hashtagmap-web/front/package-lock.json
  hashtagmap-web/front/package.json
  hashtagmap-web/front/src/assets/css/app.css
  hashtagmap-web/front/src/assets/css/textBalloon.css
  hashtagmap-web/front/src/components/AppBar.vue
  hashtagmap-web/front/src/components/detail-modal/DetailModal.vue
  hashtagmap-web/front/src/components/detail-modal/PostImage.vue
  hashtagmap-web/front/src/components/detail-modal/Posts.vue
  hashtagmap-web/front/src/views/MainPage.vue
  hashtagmap-web/src/main/resources/logback-spring.xml
Labels: 🏞 View, 🔍 Review Needed, 🛠 Refactoring

#218 [REFACTOR] 태그레벨 컨테이너 디폴트로 띄우고, 지도 이벤트 발생시 안 닫히게 수정
  hashtagmap-web/front/src/components/AppBar.vue
Labels: 🏞 View, 🔍 Review Needed, 🛠 Refactoring

#220 [FEAT] index페이지(myPage.vue)처음 한번만 나타나도록 수정
  hashtagmap-web/front/src/App.vue
  hashtagmap-web/front/src/router/index.js
  hashtagmap-web/front/src/utils/constants.js
  hashtagmap-web/front/src/views/MainPage.vue
Labels: 🏞 View

#214 [FEAT] 모달 백버튼으로 꺼지게 하기
  hashtagmap-web/front/src/components/TextBalloon.vue
  hashtagmap-web/front/src/components/detail-modal/DetailModal.vue
  hashtagmap-web/front/src/components/tag-level/TagLevelContainer.vue
  hashtagmap-web/front/src/plugins/KakaoMap.js
  hashtagmap-web/front/src/request/kakao.js
  hashtagmap-web/front/src/router/index.js
  hashtagmap-web/front/src/store/modules/kakaoMap.js
  hashtagmap-web/front/src/store/modules/mapOverlay.js
  hashtagmap-web/front/src/store/modules/place.js
  hashtagmap-web/front/src/utils/constants.js
  hashtagmap-web/front/src/utils/templates.js
  hashtagmap-web/front/src/views/KakaoMap.vue
Labels: 🏞 View, 👩‍👩‍👧‍👦 Service, 💡 Feature, 🛠 Refactoring

#222 [FEAT] 말풍선 꺼진상태, 켜진상태 유지하기
  hashtagmap-web/front/src/components/TextBalloon.vue
  hashtagmap-web/front/src/store/modules/mapOverlay.js
  hashtagmap-web/front/src/views/KakaoMap.vue
Labels: 🏞 View, 👩‍👩‍👧‍👦 Service, 💡 Feature

#226 [BUG] 검색 시 에러 창 두번 뜨는 버그
  hashtagmap-web/front/src/components/place/PlaceSearchInput.vue
  hashtagmap-web/front/src/plugins/KakaoMap.js
Labels: 🏞 View, 👩‍👩‍👧‍👦 Service, 🧨 Bug

#225 [REFACTOR] 스크롤바 제거, 아래여백 추가
  hashtagmap-web/front/src/components/detail-modal/DetailModal.vue
Labels: 🏞 View, 🛠 Refactoring
